@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f5f4f7;
  background-image: url("https://www.maxpixel.net/static/photo/1x/Template-Texture-Black-Background-Design-Wallpaper-370118.png");
  color: #000;
  font-family: 'Covered By Your Grace';
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.quote-container {
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.4);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.quote-text {
  font-size: 2.75rem;
}

.long-quote {
  font-size: 3rem;
}

.fa-quote-left {
  font-size: 2rem;
}

.quote-author {
    color:whitesmoke;
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
}

.button-container {
  margin-top: 1px;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  color: #fff;
  background: #333;
  outline: none;
  padding: 0.5rem 1.8rem;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
}

button:hover {
    color:deepskyblue;
  filter: brightness(80%);
}

button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

.twitter-button {
  color: #38a1f3;
}

.fa-twitter {
  font-size: 1.5rem;
}

/* loader */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #333; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Media Query: tablet or smaller */
@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 10px;
  }

  .quote-text {
    font-size: 2.5rem;
  }
}